/*
Author: Nathan Lange
Class:  Software Engineering
Description: Assignment Portfolio
*/
body {
    background-color:black;
}
* {
    color:darkslateblue;
    font-family: 'Courier New', Courier, monospace;
}
iframe {
    height:300px;
    width:400px;
    margin-left:80%;
}
button {
    margin-top:2%;
}